<div class="nav-menu">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        Dashboard
    </NavLink>
    <NavLink class="nav-link" href="processes">
        Processes
    </NavLink>
    <NavLink class="nav-link" href="messages">
        Messages
    </NavLink>
    <NavLink class="nav-link" href="simulation">
        Simulation
    </NavLink>
    <NavLink class="nav-link" href="settlement">
        Settlement
    </NavLink>
    <NavLink class="nav-link" href="operations">
        Operations
    </NavLink>
</div>
