## .NET
bin/
obj/
*.user
*.suo
*.cache
*.vs/
.idea/

## NuGet
*.nupkg
**/packages/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

## Visual Studio
.vs/
*.sln.docstats

## JetBrains Rider
.idea/
*.sln.iml

## OS files
.DS_Store
Thumbs.db
